body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    background: #fff3f3;
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: #222;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: linear-gradient(180deg, #53ace0, #53ace0);
    color: #0059ff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 8px rgba(255, 255, 255, 0.2);
    padding-top: 60px; /* space for topbar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar ul li a {
    display: block;
    padding: 14px 20px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
}

.sidebar ul li a:hover {
    background: #ffffff;
    color: #0041f5;
    padding-left: 30px;
    border-left: 4px solid #659bff;
}

.sidebar ul li a.active {
    background: #ffffff;
    color: #000000;
    border-left: 4px solid #066add;
}

/* Logout button */
.logout a {
    color: white !important;
    background: #004680;
    text-align: center;
    border-radius: 8px;
    display: block;
    padding: 12px 20px;
    margin: 10px;
}

/* Main Content (iframe) */
.content {
    position: absolute;
    top: 60px;  /* below topbar */
    left: 250px; /* next to sidebar */
    width: calc(100% - 250px);
    height: calc(100% - 60px);
    border: none;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #222;
}

/* Topbar */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 60px;
    background: #53ace0;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.topbar .teacher-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid white;
}

.topbar span {
    font-size: 15px;
    font-weight: 500;
}
.topbar p {
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
}

    